.MainDashboardContainer {
  min-height: 80vh;
  width: 100%;
  /* padding: 0vh 2vh; */
  padding: 2vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  gap: 25px;
  /* padding-top: 2vh; */
  /* background-color: #e4e8e9; */
  overflow-x: hidden;
}

.StatsContainerOne {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
