/* .coupon-stat-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
} */

.coupon-stat-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 0px 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
}

.coupon-stat-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.coupon-stat-label {
  font-size: 14px;
  color: #6b7280;
  margin: 0px;
}

.coupon-stat-value {
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
}
